@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
  font-family: 'Montse';
  src: url('./fonts/Montserrat-Medium.ttf') format('truetype');
}

:root {
  font-family:Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.base {
  min-height: 100vh;
  max-height: fit-content;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  
}

/* Estilos para pantallas pequeñas (-600px de ancho) */
@media (max-width: 600px) {
  
  
  .main-frame{
    position: relative;
    opacity: 0;
    width: 100%;
    min-height: 100%;
    
    justify-content: center;
    align-items: center;
  }
  .main-title{
    position: relative;

    margin-bottom: 2em;
    font-size: 2em;
    pointer-events: none;
  }
  .sub-main-title{
    position: relative;
    font-size: 2em; 
    pointer-events: none;
  }
  .about-me{
    position: relative;
    
    font-size: 1em;
  }
  .thumbnails{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
  }
}

/* Estilos para pantallas medianas (de 601px a 900px de ancho) */
@media (min-width: 601px) and (max-width: 900px) {
  
 
  .main-frame{
    position: relative;
    opacity: 0;
    width: 100%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
  }
  .main-title{
    position: relative;
    
    margin-bottom: 2em;
    font-size: 2em;
    pointer-events: none;
  }
  .sub-main-title{
    position: relative;
    font-size: 2em;   
    margin-bottom: 1em;  
    pointer-events: none;
  }
  .about-me{
    position: relative;
    bottom: 1em;
  }
  .thumbnails{
    
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .formButton{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  
}

/* Estilos para pantallas grandes (más de 900px de ancho) */
@media (min-width: 901px) {


  .main-frame{
    position: relative;
    opacity: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 2em 1em 10px rgba(0, 0, 0, 0.5);
  }
  
  .main-title{
    position: relative;
    
    padding: 1em;
    font-size: 2em;  
    pointer-events: none;
  }
  .sub-main-title{
    position: relative;
    margin-bottom: 1em;  
    font-size: 2em;
    pointer-events: none; 
  }
  .about-me{  
    position: relative;
      
  }
  .thumbnails{  
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;  
  }

  .modal-content {
    width: min-content;
  }

  .image-wrapper {
    position: relative; /* Asegura que el div se superponga a la imagen */
    width: fit-content;
  }
  .image-wrapper:hover::before {
    content: ""; /* Pseudo-elemento para crear el fondo */
    position: absolute; /* Se superpone a la imagen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:hsla(0, 0%, 100%, 0.25) ; /* Cambia el color de fondo y la opacidad */
    z-index: 1; /* Asegura que el fondo esté por encima de la imagen */
  }
  .row{
    flex-wrap: nowrap;
  }
  .modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - var(--bs-modal-margin) * 2);
    flex-direction: column-reverse;
    justify-content: center;  
  }
  
  .formContact{
    width: 25em;
  }
  .formButton{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}

.modal-content {
  padding: 1em;
  background-color:#F2BE5C;
  color: #1F0459;
}

.contentFrame{
  border-style: solid;
  border-color: #F2D64B;
  background-color: #1F0459;
  
  padding: 2em;
  border-radius: 1em;
}
.tab-content{
  border-style: solid;
  border-color: #F2D64B;
  padding: 2em;
  border-radius: 1em;
  background-color: #1F0459;
}
.nav-tabs{
  
  --bs-border-color: #F2D64B;
  --bs-body-bg:#F2BE5C;
  --bs-secondary-bg: #1F0459;
  --bs-border-width:0em;
}
.nav {
  --bs-link-color: #1F0459;
  --bs-link-hover-color: white;
  --bs-secondary-color: #F238B1;
  --bs-nav-tabs-link-active-color: #1F0459;
  --bs-font-sans-serif:Montserrat,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@keyframes show-main-page {
  from {
    pointer-events: none;
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.button-frame{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introMainPage{
  animation: show-main-page 1s ease-in-out 0.5s forwards;
}

.border-button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20em;
  height: 10em;
  border: 0.2em solid #F2BE5C;
  border-radius: 3em;
}
.border-button:hover{
  background-color: #d6d58e31;
}

.introAnimation{
  animation: fade-border 1s forwards;
}


.name-button{
  font-size: 1.5em;
  margin-top: 1.8em;
  transform-origin: center;
  transition-duration: 600ms;
  transition-timing-function: ease;
  cursor: pointer;
}
.name-button.tp-transform{
  transition-property: transform;
}
.name-button:is(:hover, :focus){
  transform: scale(1.2);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


html,
body {
  margin: 0;
  padding: 0;
  
}

body {
  background-color: #1F0459;
  /* background-image: url(/src/assets/img/soft.jpg); */
  background-size: cover;
  background-attachment: fixed;
  min-width: fit-content;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column-reverse;
  font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  
  color: #F2D64B;
  font-size: 2.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
