:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.base {
  padding: 0 !important;
  min-height: 90vh;
  max-height: fit-content;
}

/* Estilos para pantallas pequeñas (-600px de ancho) */
@media (max-width: 600px) {
  
  
  .main-frame{
    position: relative;
    opacity: 0;
    width: 100%;
    min-height: 100%;
    margin-top: 2em;
    justify-content: center;
    align-items: center;
  }
  .main-title{
    position: relative;
    top: 2em;
    margin-bottom: 2em;
    font-size: 1em;
    pointer-events: none;
  }
  .sub-main-title{
    position: relative;
    font-size: 2em; 
    margin-bottom: 1em;  
    pointer-events: none;
  }
  .about-me{
    color: #f9f9f9;
    position: relative;
    
    font-size: 1em;
  }
  .thumbnails{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
  }
}

/* Estilos para pantallas medianas (de 601px a 900px de ancho) */
@media (min-width: 601px) and (max-width: 900px) {
  
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  .main-frame{
    position: relative;
    opacity: 0;
    width: 100%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
  }
  .main-title{
    position: relative;
    top: 1em;
    margin-bottom: 2em;
    font-size: 2em;
    pointer-events: none;
  }
  .sub-main-title{
    position: relative;
    font-size: 2em;   
    margin-bottom: 1em;  
    pointer-events: none;
  }
  .about-me{
    color: #f9f9f9;
    position: relative;
    bottom: 1em;
  }
  .thumbnails{
    
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .formButton{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Estilos para pantallas grandes (más de 900px de ancho) */
@media (min-width: 901px) {
  html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

  .main-frame{
    position: relative;
    opacity: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .main-title{
    position: relative;
    top: 1em;
    margin-bottom: 2em;
    font-size: 2em;  
    pointer-events: none;
  }
  .sub-main-title{
    position: relative;
    margin-bottom: 1em;  
    font-size: 2em;
    pointer-events: none; 
  }
  .about-me{  
    position: relative;
    color: #f9f9f9; 
      
  }
  .thumbnails{  
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2em;
  }
  .image-wrapper {
    position: relative; /* Asegura que el div se superponga a la imagen */
    width: fit-content;
  }
  .image-wrapper:hover::before {
    content: ""; /* Pseudo-elemento para crear el fondo */
    position: absolute; /* Se superpone a la imagen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:hsla(0, 0%, 100%, 0.25) ; /* Cambia el color de fondo y la opacidad */
    z-index: 1; /* Asegura que el fondo esté por encima de la imagen */
  }
  .row{
    flex-wrap: nowrap;
  }
  .modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - var(--bs-modal-margin) * 2);
    flex-direction: column-reverse;
    justify-content: center;  
  }
  .modal-content {
    width: min-content;
  }
  .formContact{
    width: 25em;
  }
  .formButton{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}



@keyframes show-main-page {
  from {
    pointer-events: none;
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.button-frame{
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.introMainPage{
  animation: show-main-page 1s ease-in-out 0.5s forwards;
}

.border-button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20em;
  height: 10em;
  border: 0.2em solid #f9f9f9;
  border-radius: 3em;
}
.border-button:hover{
  background-color: #24242467;
}

.introAnimation{
  animation: fade-border 1s forwards;
}


.name-button{
  font-size: 1.5em;
  margin-top: 1.8em;
  transform-origin: center;
  transition-duration: 600ms;
  transition-timing-function: ease;
  cursor: pointer;
}
.name-button.tp-transform{
  transition-property: transform;
}
.name-button:is(:hover, :focus){
  transform: scale(1.2);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


html,
body {
  margin: 0;
  padding: 0;
  
}

body {
  background-color: #5f67fc;
  background-image: url(/src/assets/img/night.png);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column-reverse;
}

h1 {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #f9f9f9;
  font-size: 2.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
